body {
    background-color: #000000;
    color: #ffffff;
}
#main {
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.type-line li, .type-line input, .cursor {
    font-family: 'Consolas';
    font-size: 16px;
    color: chartreuse;
    position: relative;
    margin: 3px;
}

.type-line li {
    list-style-type: none;
    margin: 0;
}

.starting-code li:nth-child(13) {
    color: red;
}

.channel-chat input {
    background-color: transparent;
    border: none;
    width: 22em;
}

.cursor span {
    animation: blink .5s linear infinite;
}

@keyframes blink {
    0% { border-right: 5px solid chartreuse; }
    70% { border: transparent; }
}
